{% extends 'base.html'%}


{%block content %}
<section class="section">
    <h1>Manoj G</h1>
    <p class="subtitle">CSE Graduate | AI & ML Enthusiast | Data Analytics Explorer | Web Developer | Strong in DSA</p>
    <p>www.linkedin.com/in/manoj-g-836427295 | ManojKandadaiah.pythonanywhere.com</p>

    <div class="grid">
       <div class="grid-item">
            <h2>EDUCATION</h2>
            <p><strong>Bachelor of Technology (CSE)</strong><br>2020–2024<br>Government Engineering College, Ramanagara</p>
            <p><strong>Senior Secondary Education</strong><br>2018–2020<br>Sri Chaitanya Techno School</p>

            <h2>EXPERIENCE</h2>
            <p><strong>Software Intern</strong><br>InnovaTech Solutions<br>Jun 2024</p>
            <ul>
                <li>Developed web apps using Python and Flask</li>
                <li>Fixed bugs and improved performance</li>
            </ul>
        </div>

        <div class="grid-item">
            <h2>SKILLS</h2>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Machine Learning</li>
                <li>Blockchain</li>
                <li>SQL</li>
            </ul>

            <h2>PROJECTS</h2>
            <p><strong>Alien Invasion Game</strong></p>
            <ul><li>Developed a 2D shooting game with alien movement, scoring, and player control.</li></ul>
            <p><strong>Portfolio Website</strong></p>
            <ul><li>Responsive portfolio site showcasing personal projects.</li></ul>
            <p><strong>IPL Cricket Data Analysis</strong></p>
            <ul><li>Explored IPL stats for team and player performance.</li></ul>
        </div>
    </div>
</section>
{%endblock%}